<h2> <%= @restaurant.title %> </h2>
<p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>


<%= link_to "Go back", restaurants_path %>
<%= link_to "edit a restaurant",edit_restaurant_path(@restaurant) %>
